{{#extends "base"}}

  {{#block "content"}}
  <div class="card  mt-4" style="width: 18rem;">
 <div class="card-header">
  <h2>Shopping Cart</h2>
  </div>

    <ul class="list-group list-group-flush">
      {{#each shoppingCart}}
          <li class="list-group-item">{{this.jewelry.name}}</li>
          {{#each this.jewelry.materials}}         
            <li class="list-group-item">Materials: {{material_type}} </li>           
          {{/each}}
          <li class="list-group-item">{{this.jewelry.color.name}}</li>
          <li class="list-group-item">Quantity : {{this.quantity}}</li>
          <li class="list-group-item">Price : ${{divide this.jewelry.cost 100}}</li>
          
          <img src={{this.jewelry.jewelry_img_url}} alt="product-img" />
        
            <form method="POST" action="/cart/{{this.jewelry.id}}/quantity/update">
                <input type="hidden" value="{{../csrfToken}}" name="_csrf"/> 
                <li class="list-group-item">
                    Quantity: <input type="text" name="newQuantity" value="{{this.quantity}}" style="width:30px" />                    
                </li>
                <li class="list-group-item">
                <input type="submit" value="Update Quantity" class="btn btn-success btn-sm mx-2" />
                <a href="/cart/{{this.jewelry.id}}/remove"class="btn btn-danger">Remove</a>
                </li>
            </form>
{{/each}}
    </ul>
</div>
  {{/block}}
{{/extends}}