{{#extends "base"}}

  {{#block "content"}}
    <h1>My shopping cart</h1>

    <ul class="list-group">
      {{#each shoppingCart}}
        <li class="list-group-item my-3">
          <h4>{{this.jewelry.name}}</h4>
          {{#each this.jewelry.materials}}         
            <h5>Materials: {{material_type}} </h5>           
          {{/each}}
          <h4>{{this.jewelry.color.name}}</h4>
          <h5>Quantity : {{this.quantity}}</h5>
          <h4>Price : ${{divide this.jewelry.cost 100}}</h4>
          <img src={{this.jewelry.jewelry_thumbnail_url}} alt="" />
        </li>
            <form method="POST" action="/cart/{{this.jewelry.id}}/quantity/update">
                <input type="hidden" value="{{../csrfToken}}" name="_csrf"/> 
                <h5>
                    Quantity: <input type="text" name="newQuantity" value="{{this.quantity}}" style="width:30px" /> 
                    <input type="submit" value="Update Quantity" class="btn btn-success btn-sm mx-2" />
                </h5>
            </form>
        <div>
          <a
            href="/cart/{{this.jewelry.id}}/remove"
            class="btn btn-danger"
          >Remove</a>
        </div>
      {{/each}}
    </ul>

  {{/block}}
{{/extends}}