{{#extends "base"}}
  {{#block "content"}}
    <form method="GET">
      {{{form}}}
      <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search" />
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Product Image</th>
          <th>Color</th>
          <th>Description</th>
          <th>Material</th>
          <th>Cost</th>
          <th>Weight</th>
          <th>Dimension</th>
          <th>Design</th>
          <th>Date Created</th>
          <th>Stock Balance</th>
        </tr>
        <tbody>
          {{#each products}}
            <tr>
              <td>
                {{this.id}}
              </td>
              <td>
                {{this.name}}
              </td>
              <td>
                <img src="{{this.jewelry_thumbnail_url}}" alt="item-img" />
              </td>
              <td>{{this.color.name}}</td>
              <td>
                {{this.description}}
              </td>
              <td>
                {{#each this.materials}}
                  <span
                    class="badge bg-primary mb-1"
                  >{{this.material_type}}</span>
                {{/each}}
              </td>

              <td>${{this.cost}}</td>
              <td>{{this.weight}}</td>
              <td>{{this.width}} mm(width)x{{this.height}}mm (height)</td>
              <td>{{this.design}}</td>
              <td>{{this.created_date}}</td>
              <td>Left: {{this.stock}} <br /> Sold:{{this.sold}}</td>
              <td>
                <a
                  href="/cart/{{this.id}}/add"
                  class="btn btn-success btn-sm"
                >Add to cart</a>

                <a
                  href="/products/{{this.id}}/update"
                  class="btn btn-primary btn-sm mt-2"
                >Update</a>
                <a
                  href="/products/{{this.id}}/delete"
                  class="btn btn-danger btn-sm mt-2"
                >Delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </thead>
    </table>

  {{/block}}

{{/extends}}